@import "tailwindcss";
@import "./colors.css";

@font-face {
  font-family: 'Doto';
  src: url('./assets/fonts/Doto-VariableFont_ROND,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-inter: "Inter", "sans-serif";
  --font-poppins: "Poppins", "sans-serif";
  --font-doto: "Doto", sans-serif;
  --color-bg-primary: var(--color-bg-primary);
  --color-bg-secondary: var(--color-bg-secondary);
  --color-bg-gradient-top: var(--color-bg-gradient-top);
  --color-bg-gradient-mid: var(--color-bg-gradient-mid);
  --color-bg-gradient-bottom: var(--color-bg-gradient-bottom);
  --color-main-secondary: var(--color-main-secondary);
}

@layer base {
  html {
    scroll-behavior: smooth;
    font-family: var(--font-inter);
    background-color: var(--color-bg-primary);
  }
  
  body {
    @apply antialiased overflow-x-hidden;
  }
}

@layer utilities {
  .glass {
    @apply bg-white/5 backdrop-blur-lg border border-white/10 shadow-[0_4px_30px_rgba(0,0,0,0.1)];
  }
  .glass-card {
    @apply bg-slate-900/50 backdrop-blur-xl border border-white/5 hover:border-emerald-500/30 transition-all duration-300;
  }
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-blue-400 via-emerald-500 to-cyan-400;
  }
}
